
/* Footer started */
.footer {
    font-family: Playfair Display;
    background-color: #b9a189;
    border-top: 1px solid #e6d7c3;
    padding: 50px;
}

.footer-container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 0 16px;
}

.footer-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 32px;
    margin-bottom: 48px;
    /* margin-top: 2rem; */
}

.footer-craftconnect {
    margin-bottom: 15px;
}

.craftconnect-header {
    display: flex;
    align-items: center;
    margin-bottom: 16px;
}

.craftconnect-icon {
    color: #6b4423;
    width: 32px;
    height: 32px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0.5rem;
    font-size: 16px;
}

.craftconnect-name {
    font-size: 1.25rem;
    font-weight: bold;
    color: #5b3719;
}

.craftconnect-description {
    color: #6b4423;
    font-size: 0.875rem;
    line-height: 1.6;
    margin-bottom: 14px;
}

.social-links {
    display: flex;
    gap: 15px;
}

.social-links a {
    color: #9d7652;
    text-decoration: none;
    font-size: 1.25rem;
    transition: color 0.2s ease;
}

.social-links a:hover {
    color: #8b4513;
}

.footer-section h4 {
    font-family: Playfair Display;
    color: #5b3719;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 15px;
    /* margin-top: 14px; */
}


.footer-links {
    list-style: none;
    padding: 0;
    margin: 0;
}

.footer-links li {
    margin-bottom: 12px;
}

.footer-links a {
    color: #6b4423;
    text-decoration: none;
    font-size: 13px;
    transition: color 0.2s ease;
}

.footer-links a:hover {
    color: #8b4513;

}

.footer-bottom {
    border-top: 1px solid #e6d7c3;
    padding: 2rem 0;
    text-align: center;

    /* margin-top: 2rem; */
}

.footer-bottom p {
    color: #5b3618;
    font-size: 0.875rem;
    line-height: 1.6;
    margin: 0;
}

/* responsive-footer */
@media (min-width: 768px) {
    .footer-container {
        padding: 0 24px;
    }

    .footer-grid {
        grid-template-columns: 1fr 1fr;
        gap: 47px;
    }
}

@media (min-width: 1024px) {
    .footer-container {
        padding: 0 15px;
    }

    .footer-grid {
        grid-template-columns: 1.5fr 1fr 1fr 1fr;
        gap: 47px;
    }
}

/* back to Top  */
#backToTopBtn {
    display: none;
    position: fixed;
    bottom: 40px;
    right: 30px;
    z-index: 99;
    font-size: 20px;
    border: none;
    outline: none;
    background-color: #795d41;
    color: white;
    cursor: pointer;
    padding: 12px 18px;
    border-radius: 8px;
    transition: opacity 0.3s;
    /* box-shadow: ; */
}

#backToTopBtn:hover {
    background-color: #555;
    color: white;
}



